.anim-enter {
  opacity: 0;
}

.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.anim-exit {
  opacity: 1;
}

.anim-exit.anim-exit-active {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.custom-enter.custom-enter-active {
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.custom-exit.custom-exit-active {
  animation-name: example;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes example {
  0% {left: 0px;}
  100% {left: 100px; transform: rotate(20deg);}
}

.custom-enter-done {
  left: 100px;
  transform: rotate(20deg);
}
